.timelineWrapper {
    padding: 0 10px;
}
.scoreTable {
    border-collapse: collapse;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.scoreTable th,
.scoreTable td {
    border: 0 1px solid black;
    padding: .1rem .5rem;
    text-align: center;
    width: 4rem; /* Set default width for all columns */
}

.scoreTable thead {
    font-weight: 600;
}
.scoreTable th:first-child,
.scoreTable td:first-child {
    width: 5rem; /* Set width for the first column */
    text-align: left;
}

.customLink {
    color: #007bff;  /* Example: blue color */
    text-decoration: none;  /* Removes underline */
}

.customLink:hover {
    text-decoration: underline;  /* Adds underline on hover */
    color: #0056b3;  /* Darker blue on hover */
}
