.dashboard {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.row {
  display: grid;
  grid-template-columns: 1fr repeat(4, 4rem) 5rem; /* 1 wide column, 5 columns of 3rem */
  align-items: center;
  gap: 10px; /* Space between columns */
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 4px;
}
.headerRow > * {
  text-align: center;
  padding: 10px;
  background-color: #f8f8f8;
  font-weight: bold; /* Making the text bold */
}

.row input {
  width: 100%; /* Fill the grid column */
  text-align: right;
}

.row button {
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.row button:hover {
  background-color: #0056b3;
}
