/* Custom styles for the InfoWindow content */
.custom-info-window {
    background-color: #e22d2d !important; 
    color: #333333; 
    font-size: 14px; 
    padding: 0; 
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3); 
    max-width: 250px; 
  }
  
  .custom-info-window .gm-ui-hover-effect {
    top: 10px !important; 
    right: 10px !important;
  }
  
  .custom-info-window .gm-style-iw-d {
    overflow: hidden !important; /* overflow properties */
  }
  